/* @import "../../../../../../../.config/omarchy/current/theme/walker.css"; */

@define-color selected-text #88C0D0;
@define-color text #D8DEE9;
@define-color base #2E3440;
@define-color border #D8DEE9;
@define-color foreground #D8DEE9;
@define-color background #2E3440;

* {
  all: unset;
  font-family: monospace;
  font-size: 18px;
  color: whitesmoke;
}

scrollbar {
  opacity: 0;
}

.normal-icons {
  -gtk-icon-size: 16px;
}

.large-icons {
  -gtk-icon-size: 32px;
}





.box-wrapper {
  background: alpha(@base, 0.7);
  padding: 20px;
  border-radius: 16px;
  border: 1px solid alpha(@border, 0.3);
  /* box-shadow: 0 8px 32px alpha(#000000, 0.3); */
  /* backdrop-filter: blur(12px); */

}

.box-wrapper::after {
  background-color: red;
}


.search-container {
  background: alpha(@base, 0.5);
  border-radius: 12px;
  border: 1px solid alpha(@border, 0.2);
  padding: 12px 16px;
  margin-bottom: 8px;
  transition: all 0.2s ease;
}

.search-container:focus-within {
  border-color: white;
  background: alpha(@base, 0.8);
}



.input placeholder {
  opacity: 0.5;
}

.input:focus,
.input:active {
  box-shadow: none;
  outline: none;
}

child:selected {
  background: alpha(@selected-text, 0.15);
  border: 1px solid alpha(@selected-text, 0.3);
  border-radius: 12px;
  margin: 2px 0;
  /* transition: all 0.3s ease; */
}

child:selected .item-box {
  transform: translateX(4px);
}




.item-box {
  padding-left: 14px;
}

.item-text-box {
  all: unset;
  padding: 14px 0;
}

.item-subtext {
  font-size: 0px;
  min-height: 0px;
  margin: 0px;
  padding: 0px;
}


.item-image {
  margin-right: 12px;
  -gtk-icon-transform: scale(0.85);
  opacity: 0.9;
  transition: all 0.2s ease;
}

child:selected .item-image {
  opacity: 1;
  -gtk-icon-transform: scale(0.95);
}


.current {
  font-style: italic;
}

.keybind-hints {
  background: @background;
  padding: 10px;
  margin-top: 10px;
}

.preview {
}

/* Empty rules kept for potential future use */
/*
.preview-box {}

.box {}

.content-container {}

.placeholder {}

.scroll {}

.list {}

child,
child>* {}

child:hover .item-box {}

child:selected .item-box {}

.input {}

.item-text {}
*/